// các biến chung trong toàn bộ web 

// Colors
$primary: #AC2A45;
$accent: #D4AF37;
$bg-light: #FDF5F6;
$white: #ffffff;
// $light-bg: #fef5ee;
$text-dark: #333;

// Fonts
$font-main: 'Playfair Display', serif;
$font-sans: arial, 'Inter', sans-serif;